
<div class="jumbotron masthead">
    <div class="container text-center ">
        <h1 class="text-center ">来此购宇宙购物商城</h1>
        <h2 class="text-center ">宇宙最低价、保质保量、白酒啤酒应有尽有、瓜子面包火腿肠</h2>
        <p>只有你想不到，没有你买不到，高价回收火车头航空母舰!</p>
        <p class="masthead-button-links">
            <div>
            <button class="btn btn-lg btn-primary btn-shadow text-center" ng-click='changetolist()'>来此购Let‘s GO！</button>
        </div>
        </p>

    </div>
</div>
<div class="text-center ">
    <p>迎中秋，送月饼活动全国开启，满88元江浙沪包邮，满188元全国（含新藏地区）包邮，机不可失，时不再来！！！</p>
    <p>迎中秋，送月饼活动全国开启，满88元江浙沪包邮，满188元全国（含新藏地区）包邮，机不可失，时不再来！！！</p>
    <p>迎中秋，送月饼活动全国开启，满88元江浙沪包邮，满188元全国（含新藏地区）包邮，机不可失，时不再来！！！</p>
    <p>迎中秋，送月饼活动全国开启，满88元江浙沪包邮，满188元全国（含新藏地区）包邮，机不可失，时不再来！！！</p>

</div>
